@import './variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  background-color: $primary;
  font-family: 'Roboto', sans-serif;
  font-size: $baseLineText;
  height: 100dvh;
}
